# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv
.venv/
venv/
myenv/

# Environment
.env

# IDE
.idea/
.vscode/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Docker
*.log

# Media (если не нужно хранить в git)
media/

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/
